*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%; /* 1rem is now 10px  defoult font size browser is 16px so better change it to % so the user can change the fornt size but we still want 10px so  10/16 */
}
body {
	box-sizing: border-box;
}
